esnManagement/src/main/resources/wsdl/WSMessageHeaderV2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (http://www.altova.com) by Adon Powell (SPRINT) -->
<!-- Created by EAI Design, Sprint, Copyright (c) 2007 ...Through EAI... -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://integration.sprint.com/common/header/WSMessageHeader/v2" targetNamespace="http://integration.sprint.com/common/header/WSMessageHeader/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.10">
	<!-- Date              Author                   Change                                                                 Rel                        SR# -->
	<!--03/08/09  Steve Heichelheim      Add securityMessageHeader structure               2.0                        E4435-->
	<!--08/24/2009 Steve Heichelheim  2.1 added basicCredentialInfo structure                OCT 09                PJ001807-->
	<!--09/24/2009 Dweepant Bakshi  2.1 removed minlengths from fields in trackingMessageHeader structure                OCT 09               CS#339568-->
	<!--09/24/2009 Dweepant Bakshi  2.2 removed restriction in the derivedBy property of applicationId and consumerId  SC#8984140 CS#380890-->
	<!--05/21/2010    Suneel Pathipati    password is changed to optional under sdcLoginCredentials  GBL10.3       SD# 9053746-->
	<!--08/31/2011  Steve Heichelheim  2.4  added ssn, federalTaxId, securityAnswer to the securityMessageHeader    MID11.4              PJ006382-->
	<!--09/23/2013  Dweepant Bakshi  2.5  securityAnswer to the securityMessageHeader                            GBL13.3        PJ008896-->
	<!--12/11/2013    Ishita Biswas       2.6  Added callingApplicationInfo structure                                            MID14.2.1      PJ007526 Phase2-->
	<!--12/16/2013    Ishita Biswas       2.7 Removed timestamp & messageId from callingApplicationInfo         MID14.2.1      PJ007526 Phase2-->
	<!--02/21/2014    Ishita Biswas       2.8 Removed enumeration in the simpleType definition of orderId          MID14.2.1      PJ007526 Phase2-->
	<!--02/21/2014    Ishita Biswas       2.9 Removed callingApplication.messageType                                       MID14.2.1      PJ007526 Phase2-->
	<!--02/26/2014    Ishita Biswas       2.9 Removed callingApplication.brandType                                            MID14.2.1      PJ007526 Phase2-->
	<!--03/03/2014  Tracy Turner    2.10  Changed max field lengths for 3 callingApplication fields: storeId from 7 to 50, pin from 4 to 20, and orderId from 24 to 28                               MID14.2.1      PJ007526 Phase2-->
	<!--03/04/2014  Adon Powell    2.10  standardized                               MID14.2.1      PJ007526 Phase2-->
	<!---->
	<xs:element name="wsMessageHeader" type="WsMessageHeaderType"/>
	<!---->
	<xs:complexType name="BasicCredentialInfoType">
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>Can be used to specify a user or system id when communicating with an external system.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="LoginUserIdentifier">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="password">
				<xs:annotation>
					<xs:documentation>Can be used to specify a user or system password when communicating with an external system.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="PasswordString">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoginType">
		<xs:choice minOccurs="0">
			<xs:element name="pin" type="PasswordPin" minOccurs="0">
				<xs:annotation>
					<xs:documentation>account pin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdcLoginCredentials" type="SdcLoginCredentialsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>sdc stands for Sprint.com</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SdcLoginCredentialsType">
		<xs:sequence>
			<xs:element name="userId" type="LoginUserIdentifier"/>
			<xs:element name="password" type="PasswordString" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecurityMessageHeaderType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="sdcLoginCredentials" type="SdcLoginCredentialsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>sdc stands for Sprint.com</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="basicCredentialInfo" type="BasicCredentialInfoType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Can be used to provide authentication creditentials when communicating with an external system.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pin" type="PasswordPin" minOccurs="0">
					<xs:annotation>
						<xs:documentation>account pin</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="taxIdCredentials" type="TaxIdCredentialsType" minOccurs="0"/>
				<xs:element name="securityAnswer" type="SecurityAnswerType">
					<xs:annotation>
						<xs:documentation>account security answer</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="corpId" type="CorporationIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>corporation Id</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrackingMessageHeaderType">
		<xs:sequence>
			<xs:element name="applicationId" type="ApplicationIdentifier">
				<xs:annotation>
					<xs:documentation>The ID of the application within the corporate entity from which this message originated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationUserId" type="ApplicationUserId">
				<xs:annotation>
					<xs:documentation>The ID of the user of the application within the corporate entity from which the message originated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="consumerId" type="ApplicationIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The ID of the corporate entity or busines unit from which this message originated (e.g. Corporation code or Portal applId).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageId" type="MessageIdentifier">
				<xs:annotation>
					<xs:documentation>A unique identifier for this message, to enable tracking, reporting, and correlation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conversationId" type="ConversationIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Each message is part of a conversation between two or more systems in a given session.  The Conversation ID is a UID, which can be used to group all messages exchanged within a session.  This is field is primarily used for tracking, reporting, root-cause-analysis, and non-repudiation.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeToLive" type="SecondsToLiveQuantityType">
				<xs:annotation>
					<xs:documentation>Specifies how long in seconds this message is relevant after the message timestamp. The calling application can time-out after 'timeToLive' seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="replyCompletionCode" type="ReplyCompletionCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the provider’s declaration of its success or failure in processing the submitted request;  0 = Successful completion, 4 = Successful completion, but with a warning as to some unusual circumstance, 8 = Error, request was not processed successfully, 12 = Severe error, represents a failure that could indicate a major system irregularity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageDateTimeStamp" type="CreationDateTime">
				<xs:annotation>
					<xs:documentation>The dateTimeStamp of when the message was created.  This can be used for tracking and reporting and also by the consuming application to determine if the message is stale.  Timestamp should be in GMT TZ when the caller is unable to format with timezone and offset. e.g. 2007-10-01T14:20:33 is acceptable</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WsMessageHeaderType">
		<xs:sequence>
			<xs:element name="trackingMessageHeader" type="TrackingMessageHeaderType">
				<xs:annotation>
					<xs:documentation>SOAP header interface to carry data elements that are relevant to tracking, reporting, troubleshooting, and non-repudiation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="securityMessageHeader" type="SecurityMessageHeaderType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Carrries data elements for security validation. The API access may be based on first validating the security credentials</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callingApplicationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Calling application or vendor info. This is required for order validation (OVM) calls</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pin" type="PersonalIdentificationNumberType">
							<xs:annotation>
								<xs:documentation>Combination of vendorCode and pin is used to differentiate the calling system (channel).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="vendorCode" type="VendorCodeType">
							<xs:annotation>
								<xs:documentation>Combination of vendorCode and pin is used to differentiate the calling system (channel).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="subVendorCode" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="vendorUsername" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="vendorPassword" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="orderId" type="ActivationOrderIdentifierType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Activation Order Identifier uniquely identifies an Activation Order.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="returnUrl" type="xs:anyURI" minOccurs="0">
							<!--The URL to which the response for this request should be sent. This is not needed for port eligibility requests.-->
						</xs:element>
						<xs:element name="resendNumber" type="xs:nonNegativeInteger" minOccurs="0">
							<!--Number of times this message has been attempted.  This is not needed for port eligibility requests.-->
						</xs:element>
						<xs:element name="storeId" type="RetailStoreIdentifierType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifies store for reporting purposes.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="associateId" type="AssociateIdentifierType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifies associate for reporting purposes.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:anyAttribute namespace="##any" processContents="lax">
			<xs:annotation>
				<xs:documentation>This is used by AXIS. Do not delete this field or AXIS generated code will have issues.</xs:documentation>
			</xs:annotation>
		</xs:anyAttribute>
	</xs:complexType>
	<xs:complexType name="TaxIdCredentialsType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="ssn" type="SocialSecurityNumberType">
					<xs:annotation>
						<xs:documentation>social security number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="federalTaxId" type="FederalEmployerIdentificationNumberType">
					<xs:annotation>
						<xs:documentation>federal tax id</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<!--MVM/Shared Simple Types-->
	<xs:simpleType name="ApplicationIdentifier">
		<xs:annotation>
			<xs:documentation>Application Identifier uniquely identifies an Application</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ApplicationUserId">
		<xs:annotation>
			<xs:documentation>Application User Identifier uniquely identifies the PARTY invoking the service.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CorporationIdentifier">
		<xs:annotation>
			<xs:documentation>Corporation Identifer uniquely identifies a corporate entity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreationDateTime">
		<xs:annotation>
			<xs:documentation>Creation Data Time represents a calendar Month, Day,Year, Hour, Minute, Second and Fraction Of A Second an event was created.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="LoginUserIdentifier">
		<xs:annotation>
			<xs:documentation>Login User Identifier holds the system login userid assigned to a PARTY.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="33"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageIdentifier">
		<xs:annotation>
			<xs:documentation>Message Identifier uniquely identifies a message.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PasswordPin">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PasswordString">
		<xs:annotation>
			<xs:documentation>Password String holds the string characters a PARTy designated as a Password into a system or Customer Account.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReplyCompletionCodeType">
		<xs:annotation>
			<xs:documentation>Reply Completion Code holds the the provider's declaration of the Service's success or failure in processing the submitted request.&#13;
&#13;
Values:&#13;
0 = Successful completion, &#13;
4 = Successful completion, but with a warning as to some unusual circumstance, &#13;
8 = Error, request was not processed successfully, &#13;
12 = Severe error, represents a failure that could indicate a major system irregularity</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<!---->
	<!--New Simple Types-->
	<xs:simpleType name="ConversationIdentifierType">
		<xs:annotation>
			<xs:documentation>Conversation Identifier is a UID, which can be used to group all messages exchanged within a session.  This is field is primarily used for tracking, reporting, root-cause-analysis, and non-repudiation. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SecondsToLiveQuantityType">
		<xs:annotation>
			<xs:documentation>Seconds To Live Quantity specifies how long in seconds this message is relevant after the message timestamp. The calling application can time-out after 'timeToLive' seconds.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityAnswerType">
		<xs:annotation>
			<xs:documentation>Security Answer holds the answer to the Security Question identified by Security Question Identifier.  This value must be supplied by the system user in response to the Security Question before they are allowed to proceed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SocialSecurityNumberType">
		<xs:annotation>
			<xs:documentation>Social Security number (SSN) is a 9-digit number issued to citizens, permanent residents, and temporary (working) residents under section 205(c)(2) of the Social Security Act, codified as 42 U.S.C.§ 405(c)(2). The number is issued to an individual by the Social Security Administration, an agency of the U.S. Federal Government. Its primary purpose is to track individuals for taxation purposes. In recent years the SSN has become a de facto national identification number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="\d{4}|\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FederalEmployerIdentificationNumberType">
		<xs:annotation>
			<xs:documentation>Federal Employer Identification Number or (FEIN) is the corporate equivalent to a Social Security Number, although it is issued to anyone, including individuals, who has to pay withholding taxes on employees.

The FEIN is a unique nine-digit number assigned by the Internal Revenue Service (IRS) to business entities operating in the United States for the purposes of identification. When the number is used for identification rather than employment tax reporting, it is usually referred to as a TIN, and when used for the purposes of reporting employment taxes, it is usually referred to as an EIN. 

Similar in purpose to the Social Security Number assigned to individuals, EINs are used by employers, sole proprietors, corporations, partnerships, non-profit organizations, trusts and estates, government agencies, certain individuals and other business entities.  

The IRS uses this number to identify taxpayers that are required to file various business tax returns. Individuals who are employers may choose to either obtain an EIN or use their Social Security Number for the purpose of reporting taxes withheld on behalf of their employees. Contrary to some misconceptions, credit bureaus and credit issuers can tell the difference between SSN and EIN Numbers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="\d{4}|\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonalIdentificationNumberType">
		<xs:annotation>
			<xs:documentation>Personal Identification Number (PIN) is a secret numeric password shared between a user and a system that can be used to authenticate the user to the system. Typically, the user is required to provide a non-confidential user identifier or token (such as a banking card) and a confidential PIN to gain access to the system. Upon receiving the User ID and PIN, the system looks up the PIN based upon the User ID and compares the looked-up PIN with the received PIN. The user is granted access only when the number entered matches with the number stored in the system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VendorCodeType">
		<xs:annotation>
			<xs:documentation>Vendor Code in combination with the PIN uniquely differentiates the system
(channel) calling Order Verification Management (Best Buy, Walmart, RMS, 
boostmobile, SOTS, OAR’s, BSPs, Telespree, etc). Each partner has its own 
unique vendor code and pin combination.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActivationOrderIdentifierType">
		<xs:annotation>
			<xs:documentation>Activation Order Identifier uniquely identifies an Activation Order.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="28"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetailStoreIdentifierType">
		<xs:annotation>
			<xs:documentation>Retail Store Identifer is the store ID passed from the retailer front-end</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AssociateIdentifierType">
		<xs:annotation>
			<xs:documentation>Associate Identifier is the Retail Store Associate Identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!---->
</xs:schema>
